*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    text-align: center;
    font-weight: lighter;
}

.title{
    padding: 1px;
    background-image: linear-gradient(to right, rgb(110, 69, 69), rgb(73, 85, 97));
    color: white;
    font-size: 30px;
}

h1{
    padding: 10px;
}

p{
    padding:20px;
}


.footer-bottom{
    background-color: rgb(94, 89, 89);
    color:#fff;
    padding: 20px;
    text-align: center;
}